## สำหรับ Prisma
DATABASE_URL="file:./dev.db"
## พอร์ตของโปรแกรม
PORT=3000
## เลือก comment อันใดอันหนึ่ง SECRETKEY หรือ PUBLICKEY/PRIVATEKEY ไม่งั้นจะ throw exception
# SECRETKEY=123456789
PUBLICKEY="-----BEGIN PUBLIC KEY-----
xxxx
-----END PUBLIC KEY-----
"
PRIVATEKEY="-----BEGIN RSA PRIVATE KEY-----
yyy
-----END RSA PRIVATE KEY-----
"
### อายุของ token ค่าตั้งต้นคือ 1800s
# TOKEN_EXPIRE=1800s