# Docker registry
DOCKER_USER=username
DOCKER_PASS=userpassword
# Host
DEPLOY_HOST=production.com
DEPLOY_COMPOSE_PATH=/home/user/docker/keyclak-vue-express-ts-0
DEPLOY_USER=deploy_username
DEPLOY_SSH_KEY="-----BEGIN OPENSSH PRIVATE KEY-----\n
xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx\n
xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx\n
xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx\n
xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx\n
-----END OPENSSH PRIVATE KEY-----\n"
